@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    :root{
        --color-bright-red: hsl(12, 88%, 59%);
        --color-dark-blue: hsl(228, 39%, 23%);
        /* neutral */
        --color-dark-grayish: hsl(227, 12%, 61%);
        --color-very-dark-blue: hsl(233, 12%, 13%);
        --color-very-pale-red: hsl(13, 100%, 96%);
        --color-light-gray: hsl(0, 0%, 98%);
    }
    
    body{
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}

.scrollbar::-webkit-scrollbar{
    display: none;
}